*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}


/* index page */
.navbar-brand{
    font-size: 30px;
    color: black;
    font-family: 'Lobster', cursive;
    /* font-family: 'Righteous', cursive; */
    /* font-family: 'Recursive', sans-serif; */
    font-weight: bolder;
}
.navbar-brand:hover{
    color: black;
}
.nav-link{
    margin-right: 10px;
    margin-left: 10px;
    color: black;
    text-transform: uppercase;
    font-family: 'Rubik', sans-serif;
    /* font-size: 50px; */
}
.nav-link:hover{
    color: rgb(19, 19, 19);
}

/* .main{
    background-image: url();
    background-size: cover;
    height: 100vh;
    width: 100%;
    background-position: 50% 50%;
} */

/* signin page */
.body_main{
height: 100%;
}

.form-login{
    margin: auto;
    background-color: aqua;
    padding: 10px;
    max-width: 450px;
    width: 100%;
    margin: auto;

}
.catagory{
    margin-top: 10px;
    font-size: 30px;
    font-weight: bolder;
    font-family: 'Righteous', cursive;;
}

.card_hover:hover{
    background-color: green;
    color: white;
    box-shadow: 0 8px 50px rgb(0,0,0,0.2);
    transform: scale(1.1);
}

p a{
    text-decoration: none;
}

.bannar_donation{
background-image: url("../photo/bannar2.jpg");
background-size: cover;
background-repeat: no-repeat; 
height: 150px;
display: flex;
align-items: center;
justify-content: center;
margin-bottom: 10px;
}
.bannar_text{
   padding: 15px;
   text-align: center; 
   text-transform: uppercase;
   font-family: 'Rubik', sans-serif;
   font-size: 2.5rem;
   font-weight: 900;
   color: white;
   
}
.bannar_donation .bannar_text .horizontal_line{
    width: 200px;
    height: 3px;
    background-color:#fff;
    margin: auto;  
    margin-bottom: 10px;
}







