*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}


/* index page */
.navbar-brand{
    font-size: 50px;
    color: black;
    font-family: 'Lobster', cursive;
    /* font-family: 'Righteous', cursive; */
    /* font-family: 'Recursive', sans-serif; */
    font-weight: bolder;
}
.navbar-brand:hover{
    color: red;
}
.navbar-brand a{
    font-size: 50px;
    color: blueviolet;
    background-color: #3d923c;
}
.nav-link{
    margin-right: 10px;
    margin-left: 10px;
    color: black;
    text-transform: uppercase;
    font-family: 'Rubik', sans-serif;
    /* font-size: 50px; */
}
.nav-link:hover{
    color: rgb(19, 19, 19);
}

/* .main{
    background-image: url();
    background-size: cover;
    height: 100vh;
    width: 100%;
    background-position: 50% 50%;
} */

/* signin page */
.body_main{
height: 100%;
}

.form-login{
    margin: auto;
    background-color: aqua;
    padding: 10px;
    max-width: 450px;
    width: 100%;
    margin: auto;

}
.catagory{
    margin-top: 10px;
    font-size: 30px;
    font-weight: bolder;
    font-family: 'Righteous', cursive;;
}

.card_hover:hover{
    background-color: green;
    color: white;
    box-shadow: 0 8px 50px rgb(0,0,0,0.2);
    transform: scale(1.1);
}

p a{
    text-decoration: none;
}

.bannar_donation{
background-image: url("../photo/bannar2.jpg");
background-size: cover;
background-repeat: no-repeat; 
height: 150px;
display: flex;
align-items: center;
justify-content: center;
margin-bottom: 10px;
}
.bannar_text{
   padding: 15px;
   text-align: center; 
   text-transform: uppercase;
   font-family: 'Rubik', sans-serif;
   font-size: 2.5rem;
   font-weight: 900;
   color: white;
   
}
.content-section .social i{
    color: #3d923c;
    font-size: 20px;
    padding: 10px 10px;
}
/* @media screen  and (max-width: 1080p){
    .container{
        width: 80%;
        display: block;
        margin: auto;
        padding-top: 50px;
    }
    .content-section{
        float: none;
        width:100%;
        display: block;
        margin: auto;
    }
    .image-section{
        float: none;
        width:100%;
       
    }
    .image-section img{
        width: 100%;
        height: auto;
        display: block;
        margin:auto ;
    }
    .content-section .title{
        text-align: center;
        font-size: 19px;
    }
    .content-section .content .button{
        text-align: center;
    }
    .content-section .content .button a{
        padding: 9px 30px;
    }
    .content-section .social{
        text-align: center;
    }
} */


.about_title_style{
    font-size: 40px;
    font-family: 'Righteous', cursive;
    font-weight: bolder;
}

hr.horizontal{
    border: 4px solid red;
    border-radius: 5px;
    width: 150px;
    margin-top: -15px;
    /* margin-left: 5px; */
    margin-bottom: 10px;

}

.about_text_block{
    margin: 10px 10px 0px 0px ;
    font-size: 20px;
    color: black;
}



/* about us style ends */
.bg-theme{
    background-color: red;
}
.card-contact{
margin-left: -130px;
}
.card-contact h1{
    color:#fff ;
}

/* payment part end */







    